/*
======Start Page Authors========
*/
@media (min-width: 1200px)
{
	.wrapper
	{
		width: 1011px;
		margin: 0 auto;
		background: rosybrown;
	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		width: 180px;
		background: goldenrod;
	}
	.list-info
	{
		width: 169px;
	}
	.content-wrap{
		background: darkgreen;
		width: 777px;
	}
	#container
	{
		width: 777px;
	}

	.item
	{
		width: 246px;
		background: goldenrod;
	}
}
@media (min-width: 980px) and (max-width: 1199px)
{
	.wrapper
	{
		width: 940px;
		margin: 0 auto;
		background: royalblue;

	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		width: 180px;
		 background: green;
	}

	.list-info
	{
		width: 169px;
	}

	.content-wrap
	{
		width: 706px;
		background: grey;
	}

	#container
	{
		margin: 25px 0 0 0;
		width: 706px;
	}

	.item
	{
		width: 223px;
		background: indianred;
	}
}
@media (min-width: 768px) and (max-width:979px)
{
	.wrapper
	{
		width: 748px;
		background: darkseagreen;

	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		width: 180px;
		 background: indianred;
	}

	.list-info
	{
		width: 169px;
	}

	.content-wrap
	{
		width: 514px;
		background: darkgoldenrod;
	}

	#container
	{
		width: 514px;
	}

	.item
	{
		width: 246px;
		background: goldenrod;
	}

	.author-photo
	{
		float: none;
	}

	.info-footer
	{
		text-align: center;
		padding-top: 44px;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		color: #2c2b2b;
	}
}

@media (min-width:480px) and (max-width:767px)
{
	.wrapper
	{
		width: 460px;
	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		float: left;
		width: 424px;

	}

	.list-info
	{
		width: 394px;
	}

	.header-form
	{
		width: 180px;
		text-align: left;
	}

	.content-wrap
	{
		width: 424px;
		margin: 25px 18px 0 18px;
	}

	#container
	{
		width: 424px;
	}

	.item
	{
		width: 424px;
		margin: 0;
	}

	.author-photo
	{
		float: left;
		margin: 6px;
		padding: 0;
	}

	.info-footer
	{
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		padding: 44px 0 0 29px;

	}

	.info-footer li
	{
		line-height: 24px;
		margin-right: 29px;
	}
}

@media (min-width:320px) and (max-width:479px)
{
	.wrapper
	{
		width: 320px;

	}
	.side-bar
	{
		text-align: justify;
		width: 300px;
		background: darkseagreen;
		margin: 25px 0 0 10px;
	}
	.nav
	{
		position: absolute;
		margin-left: -4px;
		margin-top: 10px;
	}
	.list-info
	{
		display: none;
		text-align: left;
		width: 169px;
	}
	.header-form
	{
		width: 261px;
		margin-top: 10px;
	}
	.header-form h4
	{
		display: none;
	}
	.header-form form
	{
		width: 268px;
		margin-top: -14px;
		margin-left: 31px;
	}
	.author
	{
		max-width: 267px;
		max-height: 28px;
	}

	.submit
	{
		max-width: 75px;
		max-height: 28px;
	}
	.content-wrap
	{
		width: 300px;
		margin: 25px 10px 0 10px;
	}

	#container
	{
		width: 300px;
	}

	.item
	{
		width: 300px;
		margin: 10px 0 0 0;
	}

	.author-photo
	{
		float: left;
		margin: 6px;
		padding: 0;
	}

	.info-footer
	{
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		padding-top: 44px;
		padding-left: 28px;
	}

	.info-footer li
	{
		line-height: 24px;
		margin-right: 29px;
	}
}

/*
======End Page Authors========
*/













