/*
======Start Page Authors========
*/

@media (min-width: 980px) and (max-width: 1199px){
	.wrapper {
		width:940px;
		margin:0 auto;
		background:pink;
	}
	.side-bar {
		width:180px;
		background:gold;
	}
	.list-info {
		width: 169px;
	}
	.content-wrap {
		width:741px;
		float:left;
		margin:25px 0 0 19px;
	}
	#container .item{
		width: 215px;
	}

}
@media (min-width: 768px) and (max-width:979px){
	.wrapper {
		width:748px;
		background:plum;
	}
	.side-bar {
		width:180px;
		background:peru;
	}
	.list-info {
		width: 169px;
	}
	.content-wrap{
		width:549px;
	}
	#container{
		margin: 25px 0 0 0px;
	}
	.info-footer {
		text-align: center;
		padding-top: 44px;
		font-family: 'Conv_MyriadProRegular','Conv_MyriadProBold','Conv_MyriadProSemibold', serif;
		font-size: 11px;
		color: #2c2b2b;
	}
}
@media (min-width:480px) and (max-width:767px){
	.wrapper {
		width:400px;
		background:blue;
	}
	.side-bar {
		float:left;
		width:400px;
		background:grey;
	}
	.list-info {
		width: 400px;
	}
	.header-form {
		width:180px;
		text-align:left;
	}
	.content-wrap{
		width:400px;
		margin: 25px 0 0 0px;
	}
	#container .item{
		    width:371px;
	}
	.info-footer {
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular','Conv_MyriadProBold','Conv_MyriadProSemibold',serif;
		font-size: 11px;
		padding:44px 0 0 29px;

	}
	.info-footer li {
		line-height: 24px;
		margin-right: 29px;
	}
}
@media (min-width:320px) and (max-width:479px){
	.wrapper {
		width:320px;
		background:green;
	}
	.side-bar {
		margin-top:0;
		margin-bottom:30px;
		padding:0;
		text-align:justify;
		width:320px;
		background:yellow;
	}
	.list-info {
		text-align:left;
		width: 169px;
	}
	.header-form {
		width:180px;
		text-align:left;
	}
	.content-wrap{
		width:300px;
		margin: 25px 0 0 0px;
	}
	#container .item{
		width:271px;
	}
	.info-footer {
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular','Conv_MyriadProBold','Conv_MyriadProSemibold',serif;
		font-size: 11px;
		padding-top: 44px;
		padding-left:28px;
	}
	.info-footer li {
		line-height: 24px;
		margin-right: 29px;
	}
}
/*
======End Page Authors========
*/













