/*
================================Start Page Competitions===============================
*/
@media (min-width: 1200px)
{
	.wrapper
	{
		width: 1160px;
		margin: 0 auto;
		background: peru;
	}

	.side-bar span
	{
		display: none;
	}

	.side-bar
	{
		width: 180px;
		background: green;
	}
	.list-info
	{
		width: 169px;
	}

	.content-competitions
	{
		width: 944px;
		float: left;
		margin: 25px 0 0 18px;
		background: brown;
	}

	.type-of-works-information-competitions
	{
		width: 944px;
	}
	.contests-listing,.contests-listings{
		width: 915px;
		padding: 18px 0 0 12px;
	}

}

@media (min-width: 980px) and (max-width: 1199px)
{
	.wrapper
	{
		width: 940px;
		margin: 0 auto;
		background: blue;
	}

	.side-bar span
	{
		display: none;
	}

	.side-bar
	{
		width: 180px;
		background: plum;
	}

	.list-info
	{
		width: 169px;
	}
	.type-of-works-information-competitions
	{
		width: 724px;
	}
	.content-competitions
	{
		width: 724px;
		float: left;
		margin: 25px 0 0 18px;
		background: peru;
	}
	.contests-listings,.contests-listing
	{
		border-bottom: 1px solid #ebebeb;
		width: 694px;
		height: 134px;
		padding-top: 18px;
		padding-left: 12px;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
	}
}

@media (min-width: 768px) and (max-width:979px)
{
	.wrapper
	{
		width: 748px;
		background: peru;
	}

	.side-bar span
	{
		display: none;
	}

	.side-bar
	{
		width: 180px;
		background: grey;
	}

	.list-info
	{
		width: 169px;
	}

	.content-competitions
	{
		width: 532px;
		float: left;
		margin: 25px 0 0 18px;
		background: gold;
	}

	.type-of-works-information-competitions
	{
		width: 532px;
	}

	.contests-listing
	{
		border-bottom: 1px solid #ebebeb;
		width: 502px;
		height: 183px;
		padding: 11px 0 0 12px;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
	}
	 .contests-listings {
		 border-bottom: 1px solid #ebebeb;
		 width: 502px;
		 padding: 11px 0 0 12px;
		 font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
	 }
	.competition
	{
		font-size: 12px;
		line-height: 17px;
		width: 458px;
		padding-top: 6px;
	}

	.list-participant
	{
		padding-top: 33px;
		float: left;
		width: 268px;
	}

	.to-participate
	{
		background: #000;
		color: #ddd;
		width: 138px;
		float: right;
		text-align: center;
		font-family: 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', 'Conv_MyriadProRegular' serif;
		font-size: 12px;
		cursor: pointer;
		padding: 6px;
		margin-top: 44px;
	}

	.competition-results
	{
		margin-top: 7px;
	}
}

@media (min-width:480px) and (max-width:767px)
{
	.wrapper
	{
		width: 400px;
		background: green;
	}

	.side-bar span
	{
		display: none;
	}

	.side-bar
	{
		width: 364px;
		text-align: justify;
		background: yellow;
	}

	.list-info
	{
		text-align: left;
		width: 169px;
	}

	.header-form
	{
		width: 180px;
		text-align: left;
	}

	.content-competitions
	{
		width: 364px;
		float: left;
		margin: 25px 18px 0 18px;
		background: pink;
	}

	.type-of-works-information-competitions
	{
		width: 364px;
		font-size: 15px;
		text-align: justify;
	}
	.information-competitions a
	{
		display: inline-block;
		padding-left:7px;
		padding-top: 15px;
	}
	.contests-listing
	{
		border-bottom: 1px solid #ebebeb;
		width: 352px;
		height: 223px;
		padding:18px 6px 0 6px;

		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
	}
	.contests-listings
	{
		border-bottom: 1px solid #ebebeb;
		width: 352px;
		height: 158px;
		padding:18px 6px 0 6px;

		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
	}
	.competition
	{
		font-size: 12px;
		line-height: 17px;
		width: 352px;
		padding-top: 6px;

	}

	.list-participant
	{
		padding-top: 41px;
		float: left;
		width: 179px;
	}

	.to-participate
	{
		background: #000;
		color: #ddd;
		width: 138px;
		float: right;
		text-align: center;
		font-family: 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', 'Conv_MyriadProRegular' serif;
		font-size: 12px;
		cursor: pointer;
		padding: 6px;
	}
	.footer{
		padding-left: 6px;
	}
	.info-footer
	{
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		margin: 0;
		padding-top: 44px;
		text-align: center;
	}

	.info-footer li
	{
		line-height: 24px;
		margin-right: 5px;
	}
}

@media (min-width:320px) and (max-width:479px)
{
	.wrapper
	{
		width: 320px;
		background: blue;
	}
	.side-bar
	{
		text-align: justify;
		width: 300px;
		background: darkseagreen;
		margin: 25px 0 0 10px;
	}

	.nav
	{
		position: absolute;
		margin-left: -4px;
		margin-top: 10px;
	}

	.list-info
	{
		display: none;
		text-align: left;
		width: 169px;
	}

	.header-form
	{
		width: 261px;
		margin-top: 10px;
	}

	.header-form h4
	{
		display: none;
	}

	.header-form form
	{
		width: 268px;
		margin-top: -14px;
		margin-left: 31px;
	}

	.author
	{
		max-width: 267px;
		max-height: 28px;
	}

	.submit
	{
		max-width: 75px;
		max-height: 28px;
	}

	.content-competitions
	{
		width: 284px;
		float: left;
		margin: 25px 18px 0 18px;
		background: grey;
	}

	.type-of-works-information-competitions
	{
		width: 161px;
		height: 151px;
		font-size: 15px;
		margin: 18px auto;
	}
	.contests-listing
	{
		border-bottom: 1px solid #ebebeb;
		width: 272px;
		height: 276px;
		padding-top: 18px;
		padding-left: 12px;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
	}
	.contests-listings
	{
		border-bottom: 1px solid #ebebeb;
		width: 272px;
		height: 188px;
		padding-top: 18px;
		padding-left: 12px;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
	}

	.competition
	{
		font-size: 12px;
		line-height: 17px;
		width: 272px;
		padding-top: 6px;
		height: 91px;
	}

	.list-participant
	{
		padding-top: 41px;
		float: left;
		width: 179px;
	}

	.to-participate
	{
		background: #000;
		color: #ddd;
		width: 138px;
		float: right;
		text-align: center;
		font-family: 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', 'Conv_MyriadProRegular' serif;
		font-size: 12px;
		cursor: pointer;
		padding: 6px;
	}

	.competition-results
	{
		margin-top: 28px;
	}

	.info-footer
	{
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		margin: 0;
		padding-top: 44px;
		text-align: center;
		background: orange;
	}

	.info-footer li
	{
		line-height: 24px;
		margin-right: 5px;
	}
}

/*
================================End Page Competitions===============================
*/

