/*
======Start Page Contact========
*/
@media (min-width: 1200px)
{
	.wrapper
	{
		width: 1160px;
		margin: 0 auto;
	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		width: 180px;
	}

	.list-info
	{
		width: 169px;
	}
	.main-content {
		width:944px;

	}
    .content-of-map{
        width: 944px;

    }
}

@media (min-width: 980px) and (max-width: 1199px)
{
	.wrapper
	{
		width: 940px;
		margin: 0 auto;

	}
    .side-bar span
    {
        display: none;
    }
	.side-bar
	{
		width: 180px;
	}

	.list-info
	{
		width: 169px;
	}

	.main-content
	{
		float: left;
		width: 724px;
		margin: 25px 0 0 18px;

	}

	.content-of-map
	{
		width: 724px;
		height: 869px;
		margin: 0;
	}

	.map
	{
		max-width: 435px;
	}

	.main-head
	{
		width: 708px;
	}

	.church
	{
		margin-top: 361px;
		background-size: 724px 520px;
		padding-top: 508px;
	}
}

@media (min-width: 768px) and (max-width:979px)
{
	.wrapper
	{
		width: 748px;
	}
    .side-bar span
    {
        display: none;
    }
	.side-bar
	{
		width: 180px;
	}

	.list-info
	{
		width: 169px;
	}

	.main-head-form
	{
		width: 532px;
	}

	.main-content
	{
		float: left;
		width: 532px;
		margin: 25px 0 0 18px;
	}

	.content-of-map
	{
		max-width: 516px;

	}
	.location{
		position: relative;
	}
	.contacts
	{
		float: left;
	}

	.map
	{
		max-width: 462px;
		margin-top: 0;
		position: static;
	}

	.church
	{

		margin-top: 0;
		width: 532px;
		padding-top:361px;
	}

	.main-head
	{
		width: 536px;
	}
	.footer
	{
		padding-left: 26px;
	}
	.info-footer
	{
		text-align: center;
		padding-top: 44px;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		color: #2c2b2b;
	}
}

@media (min-width:480px) and (max-width:767px)
{
	.wrapper
	{
		width: 400px;

	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		float: left;
		width: 363px;
		margin:25px 18px 0 18px;

	}

	.list-info
	{
		width: 400px;
	}

	.header-form
	{
		width: 180px;
		text-align: left;
	}

	.main-content
	{
		width: 363px;
		margin: 25px 18px 0 18px;

	}

	.main-head
	{
		width: 363px;
	}

	.main-head-form
	{
		width: 363px;
	}
	.name-right,.name-left {
		margin: 11px 0 0 0;
		padding: 0;
	}
	.submit-content{
		float: left;
	}

	textarea
	{
		width:357px;
		float: left;
	}

	.content-of-map
	{
		width: 363px;
		margin: 0;
	}

	.contacts
	{
		float: left;
	}
	.location{
		position:relative;
	}

	.map
	{
		position: static;
		max-width: 366px;
	}

	.church
	{
		padding-top: 366px;
		background-size: 366px 366px;
		margin-top: 0;
	}
	.footer
	{
		padding-left: 26px;
	}

}

@media (min-width:320px) and (max-width:479px)
{
	.wrapper
	{
		width: 320px;

	}
	.side-bar
	{
		text-align: justify;
		width: 300px;

		margin: 25px 0 0 10px;
	}
	.nav
	{
		position: absolute;
		margin-left: -4px;
		margin-top: 10px;
	}
	.list-info
	{
		display: none;
		text-align: left;
		width: 169px;
	}
	.header-form
	{
		width: 261px;
		margin-top: 10px;
	}
	.header-form h4
	{
		display: none;
	}
	.header-form form
	{
		width: 268px;
		margin-top: -14px;
		margin-left: 31px;
	}
	.author
	{
		max-width: 267px;
		max-height: 28px;
	}
	.submit
	{
		max-width: 75px;
		max-height:28px;
	}
	.name-right
	{
		margin-left:0;
	}
	.submit-content
	{
		margin-left: 0;
		float: left;
	}
	.header-form
	{
		width: 180px;
		text-align: left;
	}

	.main-content
	{
		width: 300px;
		margin: 25px 10px 0 10px;

	}

	.main-head
	{
		width: 300px;
	}

	.main-head-form
	{
		width: 300px;
	}
	.name-right,.name-left {
		margin: 11px 0 0 0;
		padding: 0;
	}
	.submit-content{
		float: left;
	}

	textarea
	{
		width:294px;
		float: left;
	}

	.content-of-map
	{
		width: 300px;
		margin: 0;
	}

	.contacts
	{
		float: left;
	}
	.location{
		position:relative;
	}

	.map
	{
		position: static;
		max-width: 302px;
	}

	.church
	{
		padding-top: 204px;
		background-size: contain;
		margin-top: 26px;
	}


	.info-footer
	{
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		padding-top: 44px;
		padding-left: 28px;
	}
	.info-footer li
	{
		line-height: 24px;
		margin-right: 29px;
	}
}

/*
======End Page Contact========
*/













