/*
================================Start Page Product===============================
*/
@media (min-width: 1200px)
{
	.wrapper
	{
		width: 1000px;
		margin: 0 auto;
	}

	.side-bar
	{
		width: 180px;
	}
	.side-bar span
	{
		display: none;
	}
	.list-info
	{
		width: 169px;
	}

	.content-of-products
	{
		width: 784px;
		margin-left: 18px;
	}
}

@media (min-width: 980px) and (max-width: 1199px)
{
	.wrapper
	{
		width: 940px;
		margin: 0 auto;
	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		width: 180px;
	}

	.list-info
	{
		width: 169px;
	}

	.content-of-products
	{
		width: 724px;
		margin-left: 18px;
	}

	.form-ik
	{
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 13px;
		padding-top: 30px;
		padding-left: 10px;
	}
	 .form-input{
		 margin-left: 15px;
	 }
	.types-of-works
	{
		width: 722px;
	}
	.all, .available-all {
		margin: 3px;
	}
	.unvisited-link
	{
		margin-left: 206px;
	}
	.advert{
		width: 707px;
	}
	.top-right{
		width: 615px;
	}
	.entry-works{
		width:614px ;
	}
	.link {
		padding-top: 8px;
	}
}

@media (min-width: 768px) and (max-width:979px)
{
	.wrapper
	{
		width: 748px;
	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		width: 180px;
	}

	.list-info
	{
		width: 169px;
	}

	.content-of-products
	{
		width: 531px;
		margin-left: 19px;
	}

	.types-of-works
	{
		width: 529px;
	}

	.form-ik
	{
		padding-top: 4px;
		padding-left: 15px;
	}

	.form-ik .form-genre
	{
		position: absolute;
		margin-top: 18px;
	}

	.ik_select
	{
		position: relative;
		display: block;
		margin-left: 49px;
		margin-top: 10px;
	}

	.input-checkbox, .input-checkbox-checkbox
	{
		margin-right: 7px;
		margin-top: 2px;
		display: block;
	}

	.form-input
	{
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 13px;
		color: #b2b1b1;
		display: inline;
		margin-top: -77px;
		position: absolute;
		margin-left: 317px;
	}

	.top-right
	{
		width: 422px;
	}

	.entry-works
	{
		width: 562px;
		display: inline;
		line-height: 13px;
	}

	.envelope-min
	{
		padding-right: 5px;
	}
	.advert
	{
		width: 516px;
	}

	.link
	{
		padding-top: 5px;
	}

	.link-visited, .unvisited-link
	{
		margin-left: 3px;
	}
	.visited, .unvisited
	{
		margin-top: 13px;
	}

	.info-footer
	{
		text-align: center;
		padding-top: 44px;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		color: #2c2b2b;
	}
}

@media (min-width:480px) and (max-width:767px)
{
	.wrapper
	{
		width: 460px;
	}
	.side-bar span
	{
		display: none;
	}
	.side-bar
	{
		width: 424px;
		text-align: justify;
	}

	.list-info
	{
		text-align: left;
		width: 169px;
	}

	.header-form
	{
		width: 180px;
		text-align: left;
	}

	.content-of-products
	{
		width: 424px;
		padding: 0;
		margin:25px 0 0 18px;
	}

	.types-of-works
	{
		width: 424px;
		height: 211px;
	}
	.types-of-form.form-ik
     {
         padding-top: 10px;
         padding-left: 15px;
     }

	.form-ik .form-genre
	{
		position: absolute;
		margin-top: 18px;
	}
	.form-ik
	{
		padding-left: 81px;
	}
	.ik_select
	{
		position: relative;
		display: block;
		margin-left: 49px;
		margin-top: 10px;
	}
	.input-checkbox, .input-checkbox-checkbox
	{
		margin-right: 7px;
		margin-top: 2px;
		display: block;
	}
	.form-input
	{
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 13px;
		color: #b2b1b1;
		display: inline;
		margin-top: 15px;
		position: absolute;
		margin-left: -6px;
	}
	.top-right
	{
		width:332px ;
	}
	.entry-works
	{
		width: 562px;
		display: inline;
	}
	.envelope-min
	{
		padding-right: 5px;
	}
	.advert
	{
		width: 425px;
		height: 198px;
	}

	.link
	{
		padding-top: 18px;
	}
	 .print {
		 margin-left: 15px;
	 }
	.link-visited, .unvisited-link
	{
		margin-left: 340px;
	}
	 .visited,.unvisited{
		 margin: 13px 0 0 7px;
	 }
	.info-footer
	{
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		margin: 0;
		padding-top: 44px;
		text-align: center;
	}

	.info-footer li
	{
		line-height: 24px;
		margin-right: 5px;
	}
}

@media (min-width:320px) and (max-width:479px)
{
	.wrapper
	{
		width: 320px;
	}
	.side-bar
	{
		text-align: justify;
		width: 310px;
		margin: 25px 5px 0 5px;
	}

	.nav
	{
		position: absolute;
		margin-left: -4px;
		margin-top: 10px;
	}

	.list-info
	{
		display: none;
		text-align: left;
		width: 169px;
	}

	.header-form
	{
		width: 261px;
		margin-top: 10px;
	}

	.header-form h4
	{
		display: none;
	}

	.header-form form
	{
		width: 268px;
		margin-top: -14px;
		margin-left: 31px;
	}

	.author
	{
		max-width: 267px;
		max-height: 28px;
	}

	.submit
	{
		max-width: 75px;
		max-height: 28px;
	}
	.content-of-products
	{
		width:310px;
		margin:25px 5px 0 5px;

	}
	.types-of-works
	{
		width: 308px;
		height: 185px;
		margin-top: -14px;
	}
	.form-ik
	{
		padding: 17px 0 0 60px;
	}

	.form-ik .form-genre
	{
		display: none;
	}

	.form-ik .ik_select
	{
		margin-top: 8px;
		margin-left: 5px;
	}

	.form-input
	{
		margin:12px 0 0 0;
	}

	.input-checkbox, .input-checkbox-checkbox
	{
		display:block;
		margin:3px 0 0 0;
	}
	.all, .available-all {
		margin: 5px;
	}
	.top-right
	{
		width: 422px;
	}

	.entry-works
	{
		width: 562px;
		display: inline;
		line-height: 13px;
	}

	.envelope-min
	{
		padding-right: 5px;
	}
	.advert
	{
		width:310px;
		height: 247px;
	}
	.top-right{
		width: 217px;
	}
	.link
	{
		padding-top: 7px;
		line-height: 24px;
	}
	.writing,.print{
		margin-left: 25px;
	}
	.footer
	{
		padding-left: 26px;
	}

	.info-footer
	{
		color: #2C2B2B;
		font-family: 'Conv_MyriadProRegular', 'Conv_MyriadProBold', 'Conv_MyriadProSemibold', serif;
		font-size: 11px;
		padding-top: 44px;
		text-align: center;
	}

	.info-footer li
	{
		line-height: 24px;
		margin-right: 29px;
	}
}

/*
================================End Page Product===============================
*/
